:root{
    --index-bg: #ff3838;
    --main-clr: #2C3E50;
    --darker-main-clr: #17212b;
    --add-clr: #ECF0F1;
    --foc-clr: #E74C3C;
    --focused-clr : #b33628;
    --first-font-color: #C0C0C0;
    --white-clr: #ffffff;
}
*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
