.feed-container{
    position: relative;
    background-color: var(--add-clr);
    width: 80%;
    height: 100vh;
    left: 10%;
    border: 1px solid var(--first-font-color);
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
    padding: 30px;
    padding-top: 80px;
    gap: 30px;
}
.feed-block{
    border: 1px solid var(--first-font-color);
    background-color: var(--main-clr);
    color: var(--first-font-color);
    width: auto;
    height: auto;
    padding: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}
.feed-img{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted var(--first-font-color);
    border-radius: 10px;
}
.feed-img img{
    width: 250px;
    height: auto;
}
.feed-etc{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
    margin-top: 0px;
    overflow: hidden;
}
.user-name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    text-transform: lowercase;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 75px;
    overflow: hidden;
}
.feed-comment{
    width: 100%;
    height: auto;
    margin: 1px;
    text-transform: capitalize;
}
.user-avatar img{
    width: 15px;
    height: 15px;
}
.addContentButtonDiv{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    border: 1px solid var(--first-font-color);
    background-color: var(--main-clr);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.addContentButton{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background-color: var(--main-clr);
    transition: all linear 0.2s;
    z-index: 1;
}
.addContentButton:hover{
    background-color: var(--foc-clr);
}
.addContentMenu{
    width: 250px;
    height: 300px;
    position: fixed;
    bottom: 30px;
    right: 25px;
    border: 2px solid var(--main-clr);
    border-radius: 25px;
    z-index: 0;
    background-color: var(--first-font-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
}
.invisible{
    visibility: hidden;
}
.field{
    width: 85%;
    border: 3px solid var(--add-clr);
    border-radius: 5px;
    padding-left: 2px;
    font-size: 15px;
    height: auto;
}
.menuSaveButton{
    width: 90%;
    height: 10%;
    position: absolute;
    bottom: 50px;
}