.profil-container{
    position: relative;
    background-color: var(--add-clr);
    width: 60%;
    height: 100vh;
    left: 20%;
    border: 1px solid var(--first-font-color);
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 30px;
    padding-top: 80px;
    gap: 30px;
}
.reg-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    padding-top: 20px;
    background: var(--white-clr);
    border: 2px solid var(--first-font-color);
}